@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: 'Pixeloid';
  src: url('../src/assets/pixeloid-font/PixeloidMono-d94EV.ttf');
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fbbf24; 
}


 */


