@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pixeloid';
  src: url('../src/assets/pixeloid-font/PixeloidMono-d94EV.ttf');
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}


