@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
} 

html, body, #root {
  height: 100%; /* Ensure the root container fills the entire page */
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Pixeloid';
  src: url('../src/assets/pixeloid-font/PixeloidMono-d94EV.ttf');
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fbbf24; /* Equivalent to bg-amber-400 */
}

#cheerpx-container.cheerpx-bash {
  height: 700px; /* Set a height for the bash shell container */
  width: 500px; /* Full width for responsiveness */
  background-color: #000; /* Black background to mimic a terminal */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 10px; /* Padding inside the container */
  color: #00ff00; /* Green text to look like a terminal */
  overflow-y: auto; 
  display:flex;/* Scroll if the content exceeds the height */
}